.image {
    height: 50em;
    background-size: cover;
    width: auto;
    background-image: url('./Doctors.jpg');
    background-position: 50% 50%;
}
.wrapper {
    text-align: center;
}

.button {
position: absolute;
    top: 50%;
    background-color: #0a0a23;
    color: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 2px rgb(0, 0, 0);
    
}
